.about-banner {
  margin: 0 auto;
  width: 990px;
  text-align: center;
  margin-top: 1.5em;
}

.about-hover {
  color: white;
  font-size: 16px;
  margin-bottom: 1em;
}

.about-banner > img {
  opacity: 70%;
  width: 850px;
  height: 170px;
}

.description {
  background-color: rgba(241, 0, 88, 0.627);
  color: white;
  text-align: center;
  width: 850px;
  margin: 0 auto;
  margin-bottom: 0.5em;
  display: none;
}

.about-more {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1em;
}

.about-detailed2 {
  background-color: rgb(36,36,47);
  text-align: justify;
  color: rgb(140,140,142);
  padding-top: 0.3em;
  padding: 2em;
  width: 853px;
  margin: 0 auto;
  height: 455px;
  overflow-y: auto;
}

.about-detailed2::-webkit-scrollbar {
  display: none;
}

.glow {
  position: absolute;
  opacity: 30%;
  background-color: rgb(241,0,87);
  box-shadow: 0 0 0 0 rgba(241, 0, 87, 1);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  animation: glow-red 2s infinite;
}

@keyframes glow-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(241, 0, 87, 1);
    opacity: 100%;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(241, 0, 87, 0);
  }
    
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(241, 0, 87, 0);
  }
}

.free {
  top: 218px;
  right: 740px;
}

.ramen {
  top: 211px;
  right: 926px;
}

.tako {
  top: 157px;
  right: 960px;
}

.everything {
  top: 201px;
  right: 470px;
}

.computer {
  top: 138px;
  right: 289px;
}

.music {
  top: 240px;
  right: 295px;
}
