.blog-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-content>h1 {
  margin-top: 2em;
  margin-bottom: 1.5em;
  color: white;
  font-size: 17px;
  margin-left: 0;
}

.blog {
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin-right: 2em;
  margin-bottom: 8em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.blog-container img {
  width: 280px;
  height: 180px;
}

.blog-content {
  background-color: rgb(43, 43, 54);
  width: 280px;
  height: 210px;
  padding: 1.5em;
}

.blog-content h1 {
  margin-top: 0;
  margin-left: 0;
  color: white;
  font-size: 14px;
  margin-bottom: 1em;
}

.blog-content p {
  color: rgb(140, 140, 142);
  font-size: 12px;
  text-align: justify;
  margin-bottom: 0.5em;
}

.blog-content a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(241, 0, 87)
}