.main-content {
  width: 1000px;
  margin: 0 auto;
  overflow-y: auto;
  height: 715px;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3em;
  width: 1000px;
  height: 300px;
  padding-left: 4em;
  padding-top: 1.5em;
}

.banner > h1 {
  color: white;
  font-weight: 900;
  font-size: 2.5em;
  width: 500px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.banner p {
  color: white;
  font-size: 2em;
  width: 500px;
}

.banner button {
  cursor: pointer;
  background-color: rgb(241,0,87);
  color: white;
  border: 0px solid rgb(241,0,87);
  width: 160px;
  height: 50px;
  margin-top: 1.5em;
}

.banner button:hover {
  background-color: rgb(235, 85, 140);
}

#my-services {
  margin-top: 2em;
}

#my-services h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 17px;
  color: white;
}

#my-services ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 1.5em;
}

#my-services li {
  background-color: rgb(36,36,47);
  width: 300px;
  height: 200px;
  margin-right: 1.5em;
  margin-bottom: 2em;
  padding: 1.4em;
}

#my-services li h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 14px;
}

#my-services li p {
  color: #8c8c8e;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 246px;
}

#my-services a {
  text-decoration: none;
  color: rgb(241,0,87);
  font-size: 14px;
}

#my-services a:hover {
  color : rgb(252, 128, 173);
}

.recommendations {
  margin-top: 2em;
}

.recommendations h1 {
  font-size: 17px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.celeen {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 195px;
  top: 0px;
}

.kim {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 520px;
  top: 0px;
}

.bharat {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 845px;
  top: 0px;
}

.ivan {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 195px;
  top: 270px;
}

.lena {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 520px;
  top: 270px;
}

.robert {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 845px;
  top: 270px;
}

.recommendations ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
  margin-top: 2em;
}

.recommendations li {
  background-color: rgb(36,36,47);
  width: 300px;
  height: 200px;
  margin-right: 1.5em;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1.5em;
}

.recommendations li h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 14px;
}

.recommendations li p {
  color: #8c8c8e;
  font-size: 12px;
  margin-top: 1.5em;
  width: 280px;
}

.recommendations li h2 {
  color:#606061;
  font-size: 10px;
}

.company-images h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 17px;
  color: white;
  margin-top: 1em;
}

.company-images ul {
  list-style-type: none;
  position: relative;
  margin-top: 2em;
  padding-bottom: 10em;
}

.gac {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 20px;
}

.land {
  width: 80px;
  position: absolute;
  left: 195px;
  top: 30px;
}

.lumen {
  width: 150px;
  position: absolute;
  left: 350px;
  top: 35px;
}

.kraft {
  width: 120px;
  position: absolute;
  left: 570px;
  top: 25px;
}

.outlet {
  width: 150px;
  position: absolute;
  left: 750px;
  top: 30px;
}