.img-slider-mobile {
  display: flex;
  margin-left: 2em;
}

.img-slider-mobile img {
  width: 250px;
  height: 370px;
  margin-right: 2em;
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .img-slider-mobile img {
    height: 420px;
  }

  #lrimg {
    margin-left: 18em;
  }
}